.caractContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 3%;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    filter: grayscale(100%);
    transition: filter 1s ease;
    &:hover {
        filter: none;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    .caractImg {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 350px;
            border-radius: 1rem;
            object-fit: cover;
            transition: transform 1s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .caractElementosDiv {
        flex: 1;
        font-family: "Montserrat", sans-serif;
        font-size: clamp(1rem, 1.8vw, 1.8rem);
        color: #dfdddd;
        font-weight: 700;
        line-height: 1.4;

        ul {
            padding-left: 1.5rem;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}