.relatosContainer{
    display: grid;
    grid-template-columns: 5fr;
    gap: 1.25rem;
    width: 100%;
    .relatoImpar{
        @include cardrelato(1.25rem auto,75rem,3rem);
        .relatoCard{
            background-color: #5c56cc;
            border-radius: 0.625rem;
            box-shadow: 0.625rem 0.625rem 0.625rem #222222d0;
            display: flex;
            align-items: center;
            gap: 1.25rem;
            padding: 1.25rem;
            width: 100%;
            box-sizing: border-box;
            filter: grayscale(100%);
            transition: all 0.4s ease;
            transform-origin: center;
            margin: auto;
            &:hover{
                filter: none;
                transform: scale(1.25);
            }
            .relatoCardcontenido{
                flex: 1;
                filter: blur(5px);
                font-family: "Montserrat", sans-serif;
                &:hover{
                    filter: none;
                }
                .relatoCardTitulo{
                    font-family: "MedievalSharp", cursive;
                    font-size: 3rem;
                    text-align: center;
                }
            }
            .relatoCardImg{
                flex-shrink: 0;
                max-width: 12.5rem;
                max-height: 25rem;
                overflow: hidden;
                img {
                    width: 100%;
                    border-radius: 1.25rem;
                }
            }
        }
    }
    
    }
.relatoPar{
@extend .relatoImpar;
.relatoCard{
    flex-direction: row-reverse;
    }
}