/**------ configuraciones navbar ------------------**/

@media (max-width: 1024px) {
  header {
    .navbar {
      .navbarul {
        margin-top: 2rem;
      }
    }
  }
}

/**-------------------------------------- configuraciones Index ------------------**/
@media (max-width: 1024px) {
  .divIndex {
    height: 120vh;

    img {
      object-fit: cover;
      height: 100%;
    }

    .divContenido {
      width: 85%;

      h1 {
        font-size: 2.5rem;
        padding: 0.8rem;
      }

      .divTextoVideo {
        p {
          font-size: 1.5rem;
        }

        .video-container {
          iframe {
            padding: 80px;
          }
        }
      }
    }
  }
}


/**-------------------------------------- configuraciones relatos ------------------**/

@media (max-width: 1024px) {
  .relatosContainer {

    .relatoImpar,
    .relatoPar {
      .relatoCard {
        scale: 0.9;
        padding: 1rem;
        gap: 1rem;

        &:hover {
          transform: scale(1.5);
        }

        .relatoCardcontenido {
          font-size: 1rem;

          .relatoCardTitulo {
            font-size: 2.5rem;
          }
        }

        .relatoCardImg {
          max-width: 10rem;
          max-height: 20rem;
        }
      }
    }
  }
}




/**-------------------------------------- configuraciones caracteristicas ------------------**/
@media (max-width: 1024px) {
  .caractTituloDiv {
    max-width: 80%;
    padding: 15px;
  }

  .caractTituloDiv h1 {
    font-size: 1.8rem;
  }

  .caractSubtDiv h2 {
    font-size: 1.7rem;
  }

  .caractElementosDiv ul li p {
    font-size: 1.5rem;
  }
}


/**-------------------------------------- configuraciones personajes ------------------**/


@media (max-width: 1024px) {
  .personajesDivContenedor {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 3rem auto;

    .personajesDivTexto {
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .personajesDivImg {
      img {
        max-width: 90%;
      }
    }
  }

  .personajesH1 {
    font-size: 2.2rem;
    padding: 1rem 1.5rem;
  }
}

/**-------------------------------------- configuraciones personajes ------------------**/

@media (max-width: 1024px) {
  .div501 {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 90%;
    margin: 1.5rem auto;

    .div501Texto {
      width: 100%;
      font-size: 1.3rem;
      text-align: center;
    }

    .div501Img {
      flex-direction: row;
      width: 100%;

      img {
        width: 50%;
        height: auto;
      }
    }
  }
}