/**--------------------- configuraciones index ------------------**/


@media (max-width: 480px) {
    .divContenido h1 {
        font-size: 1.5rem;
    }

    .divContenido h1::first-letter {
        font-size: 2.8rem;
        margin-right: 0.5rem;
    }

    .divContenido p {
        font-size: 0.9rem;
    }
}


/**------------------------------- configuraciones caracteristicas ------------------**/



@media (max-width: 480px) {
    .caractContenedor {
        flex-direction: column;
        gap: 1rem;
    }

    .caractElementosDiv ul li p {
        font-size: 0.8rem;
    }

    @media (max-width: 768px) {
        .caractContenedor {
            flex-direction: column;
            gap: 1.1rem;
        }

        .caractElementosDiv,
        .caractImg {
            min-width: 100%;
        }

        .caractElementosDiv ul li p {
            font-size: 0.9rem;
        }
    }
}

