/**---------------------------------------- configuraciones sobrenos ------------------**/

@media (max-width: 600px) {
    .contactoContainer {
        padding: 1.5rem;
    }

    .contactoTitulo {
        font-size: 1.8rem;
    }

    .contactoDescripcion {
        font-size: 1rem;
    }
}