
/**-------------------------------------------- configuraciones index ------------------**/
@media (max-width: 1024px) {
    .divIndex{
        .divContenido{
            margin-top: 1rem;
            h1 {
                font-size: 1.5rem;
                margin-bottom: 0;
            }
        }
        
        
        .divTextoVideo{
            p {
                font-size: 1.5rem;
            }
        }
    }

}



/**-------------------------------------- configuraciones caracteristicas ------------------**/
@media (max-width: 1024px) {
    .caractTituloDiv {
        max-width: 80%;
        padding: 15px;
    }

    .caractTituloDiv h1 {
        font-size: 1.8rem;
    }

    .caractSubtDiv h2 {
        font-size: 1.7rem;
    }

    .caractElementosDiv ul li p {
        font-size: 1.5rem;
    }
}



/**----------------------------------- configuraciones relatos ------------------**/

@media (min-width: 1024px) {
    .relatosContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        width: 100%;
    }

    .relatoImpar {
        grid-column: 1 / span 2;
    }

    .relatoPar {
        grid-column: 2 / span 2;
    }
}
